* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
}

body {
    background-color: #ffffff;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    color: white;
}

header {
    font-style: italic;
}

/* 
*START OF NAVBAR CODE
! Includes @media Queries
*/

.logo {
    float: left;
    color: #fff;
    font-size: 50px;
    line-height: 50px;
    transition: 0.7s all;
}

#logo {
    height: 75px;
    width: 75px;
}

@media screen and (max-width: 600px) {
    #d_1sub {
        display: none;
    }

    .sidebyside {
        flex-direction: column;
    }
}


/* Start of Menu Code
this is where the menu is laid out and styled. especially on mobile devices with the collapsible menu.
you should not need to change things in this section
Menu code has been modified under the MIT License. original code was found at:
https://www.cssscript.com/css-flexbox-based-responsive-navigation/
https://www.cssscript.com/demo/css-flexbox-based-responsive-navigation/ */

label {
    display: inline;
}

#menu-toggle-checkbox,
.toggle {
    display: none;
}

.menu {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    z-index: 2;
    opacity: 0.9;
}

.menu li {
    padding: 15px 15px;
    text-align: center;
    margin: 1vw;
}

.menu li a {
    text-decoration: none;
    align-self: center;
    /* border-radius: 5px; */
    font-size: 1em;
    /* transition: background .2s linear; */
}


/* menu styles for mobile devices below */

@media screen and (max-width: 800px) {
    .menu li a {
        font-size: 1.25em;
    }

    h1 {
        font-size: 2.25em;
    }

    #p_0subtitle {
        font-size: 1.1rem;
        text-align: center;
    }

    .title {
        vertical-align: middle;
    }

    .site-nav {
        height: 5vh;
    }
}

@media screen and (max-width: 800px) {
    .toggle {
        display: block;
        position: relative;
        text-align: right;
        /* font-size: 14px; */
        line-height: 40px;
        cursor: pointer;
        width: 100%;
        height: 40px;
        /* font-size: 18px; */
        /* color: #595959; */
        /* background: #dbdbdb; */
        /* border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px; */
        transition: all .1s linear;
        z-index: 5;
    }

    .toggle>img {
        height: 100%;
        margin: 25px;
        transform: rotate(0deg);
        transition: transform .3s linear;
    }

    #menu-toggle-checkbox:checked+label .demo li {
        opacity: 1;
        visibility: visible;
        transition: all .7s linear;
    }

    #menu-toggle-checkbox:checked+label .toggle {
        background-color: white;
    }

    #menu-toggle-checkbox:checked+label .demo {
        height: 100vh;
        transition: height .3s linear;
        background-color: white;
    }

    #menu-toggle-checkbox:checked+label .toggle>img {
        transform: rotate(-90deg);
        transition: transform .3s linear;
    }

    .menu {
        /* border-radius: 0px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 0px;
        transition: height .3s linear;
    }

    .menu li {
        display: flex;
        /* magic */
        align-self: center;
        /* width: 95%; */
        opacity: 0.9;
        visibility: hidden;
        transition: all .3s linear;
    }

    .menu li a {
        /* width: 95%; */
        text-align: center;
        align-self: center;
        align-content: center;
    }

}

/* 
*END OF NAVBAR CODE
*/

footer {
    text-align: center;
}

.sidebyside {
    display: flex;
    justify-content: space-around;
    background-color: #C75A37;
}

.sidebyside>* {
    margin: 5px;
}